@import 'vars';

// HEADER AND FOOTER
.header{
    padding: 0 20px;
    margin: 20px 0;
    font-size: 12px;
    font-weight: 400;
    color: $light_2;
    &-user{
        display: flex;
        align-items: center;
        gap: 10px;
        button:hover{
            color: $main-light;
            transition: .5s;
        }
    }

    &-input {
        position: relative;
        width: 300px;
    }
    
    .search-icon {
        position: absolute;
        top: 10px;
        left: 14px;
        z-index: 20;
    }

    input{
        width: 100%;
        border-radius: 6px;
        padding: 7px 10px 10px 40px;
        background-color: $dark_2;
        color: inherit;
        position: relative;
        &::placeholder{
            font-size: 11px;
            font-weight: 400;
            color: $light_2;
        }
    }
    &-choosed{
        display: flex;
        gap: 20px;
    }
}

.header-choosed__active *{
    fill: #6C3EB8;
    stroke: #6C3EB8;
}

.busket-btn{
    position: relative;
    &__count{
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: $main-light;
        font-size: 9px;
        border-radius: 50%;
        font-weight: 700;
        display: flex;
        padding: 2px 0 0 3px;
        right: 0;
        bottom: 0px;
    }
}

.header, .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
    font-size: 12px;
    padding: 24px;
    background-color: $dark_2;
    margin-bottom: 24px;
    border-radius: 6px;
    &-text{
        color: $main;
    }
    &-social-media{
        display: flex;
        gap: 16px;
    }
}

.social-media__icon:hover *{
    fill: #6C3EB8;
    transition: .4s;
}