@import 'vars';

.hide{
    display: none;
}

html, body {
    min-height: 100%; 
}

body {
    @extend %main-font;
    font-weight: 500;
    font-size: 14px;
    background-color: $dark_1;
    color: $light_1;
}


a, button{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button{
    background-color: inherit;
}


.container{
    max-width: 1290px;
    padding: 0 8px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section{
    background-color: $dark_2;
    margin-bottom: 20px;
    border-radius: 6px;
    width: 100%;
}

main{
    flex-grow: 1;
}


.active{
    color: #8B57C6;
}

a:hover{
    @extend %hover-text;
}


//----------------------------------------------------------------------------
.btn__disable{
    background-color: $secondary_2;
    color: $light_2;
    border-radius: 6px;
    padding: 9px 20px;
    cursor: default;
}

//----------------------------------------------------------------------------




// ASIDE + BANNER
.top{
    width: 100%;
    height: 420px;
    margin-bottom: 0;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.banner, .current, .busket{
    width: 950px;
    height: 100%;
}

//BANNER
.banner{
    padding: 42px 0 42px 42px;
    text-transform: uppercase;
    position: relative;

    &-text1{
        font-weight: 900;
        font-size: 5.5vw;
        color: $dark_1;
    }
    &-text2{
        font-size: 16px;
        color: $secondary_2;
        padding: 40px 0 8px;
    }
    &-text3{
        font-weight: 700;
        font-size: 42px;
        max-width: 480px;
        line-height: 50px;
        padding-bottom: 24px;
    }
    &::before {
        position: absolute;
        content: '';
        background-image: url('../../images/added.png'); 
        background-size: contain;
        background-repeat: no-repeat;
        width: 430px;
        height: 320px;
        bottom: -20px;
        right: 0;
    }
}

//CURRENT ITEM
.current{
    padding: 24px;
    display: flex;
    gap: 30px;

    &-gallery{
        border-radius: 6px;
        overflow: hidden;
        width: 485px;
    }

    &-imgs{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(4, 90px); 
        column-gap: 20px;
        row-gap: 5px;

        li{
            border-radius: 6px;
            overflow: hidden;
            background-color: $dark_1;
        }

        img{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    &-img-main{
        grid-column: 1; 
        grid-row: 1 / span 4;
        img{
            cursor: default;
        }
    }


    &-info{
        width: 40%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    &-title{
        font-size: 18px;
        padding-bottom: 10px;
    }

    &-price{
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    &-color{
        color: $secondary_1;
        padding-bottom: 16px;
        span{
            padding-left: 16px;
            color: $light_1;
        }
    }

    &-size{
        color: $secondary_1;
        display: flex;
        align-items: center;
        padding-bottom: 16px;
        ul{
            padding-left: 16px;
            color: $light_1;
            display: flex;
            gap: 5px;
            button{
                background-color: $dark_1;
                border-radius: 6px;
                padding: 4px 8px;
            }
            .btn-active{
                background-color: $main;
            }
        }
    }

    &-description{
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: $light_2;
        padding-bottom: 20px;
    }

    &-btns{
        flex-grow: 1;

        button{
            margin-right: 10px;
            background-color: $main;
            border-radius: 6px;
            padding: 9px 20px;
        }
    }

    .btn__disable{
        background-color: $secondary_2;
    }

    &-more{
        display: flex;
        justify-content: space-between;

        a::after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $secondary_1;
        }
        a:hover{
            @extend %hover-text;
        }

        a:hover::after{
            @extend %hover-text;
            background-color: #8B57C6;
        }

    }
}

// ITEMS
h4{
    font-size: 20px;
    font-weight: 600;
}
.items{
    padding: 25px 22px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    &-btn{
        background-color: $main;
        border-radius: 6px;
        padding: 9px 20px;
    }
}

//CARD
.cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    width: 230px;
    background-color: $dark_1;
    border-radius: 8px;
    min-height: 220px;
    overflow: hidden;

    h6{
        font-size: 15px;
        font-weight: 600;
    }

    &-img{
        height: 200px;
        background-color: $secondary_1;
        position: relative;
        img{
            height: 100%;
            width: 100%;
        }
    }

    &-like, &-liked{
        position: absolute;
        top: 3px;
        right: 4px;
        cursor: pointer;
        background-color: none;
    }

    &-like *{
        stroke: $light_1;
    }

    &-liked *{
        stroke: $main;
        fill: $main;
    }

    &-info{
        padding: 12px 12px 8px;
        display: flex;
        flex-direction: column;
        min-height: 110px;

        .card-category{
            color: $light_2;
            padding-top: 5px;
            flex-grow: 1;
            padding-bottom: 20px;
        }

        &_about, .card-prices{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .card-prices{
        gap: 5px;
    }

    &-price{
        font-weight: 700;
        font-size: 20px;
        color: $main;
        &_before{
            font-size: 13px;
            color: $secondary_1;
            text-decoration: line-through;
        }
    }

    &-purchased{
        font-size: 10px;
        color: $secondary_1;
    }

}


.card-trending{
    text-align: center;
    &__img{
        height: 230px;
        width: 230px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    h6{
        padding-top: 15px;
        font-size: 20px;
        text-transform: capitalize;
    }
}


// CATEGORY PAGE
.category-page{
    padding: 25px 22px 23px;
    h4{
        text-align: center;
    }
    input{
        background-color: $dark_1;
        border-radius: 6px;
        padding: 12px 5px 12px 24px;
        color: $light_1;
        margin-right: 20px;
    }
    .filterProducts-price::placeholder{
        padding-left: 90px;
    }
    form{
        padding-bottom: 60px;

        button{
            background-color: $main-light;
            margin-left: 20px;
            padding: 5px 15px;
            font-size: 18px;
            border-radius: 6px;
        }
    }
    &__products{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pagination{
        padding: 40px 0 30px;
        text-align: center;
        button{
            background-color: $main-light;
            padding: 5px 15px;
            font-size: 18px;
            border-radius: 6px;
            margin-right: 20px;
        }

        button:disabled{
            background-color: $secondary_2;
            cursor: default;
        }
    }
}
